@model IEnumerable<sodsag.Models.Patient>
@{
    ViewBag.Title = "รายการขอใช้บริการ";
}

<h4>รายการขอใช้บริการ</h4>


<form method="post" enctype="multipart/form-data">
<table class="table">
    <thead>
        <tr>
            <th>เวลาร้องขอ</th>
            <th>QN / HN</th>
            <th>ผู้ป่วย</th>
            <th>ต้นทาง</th>
            <th>ปลายทาง</th>
            <th>พนักงานเวรเปล</th>
            <th>ประเภทรถ</th>
            <th>ระดับความเร่งด่วน </th>
            <th>สถานะ</th>
            <th>หมายเหตุ</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var nurserequest in Model) //วน foreach จากขอมูล ในตาราง nurserequest
        {
            <tr class="label-warning" style="color:black; @ViewBag.color">
                    <td>@Html.DisplayFor(modelItem => nurserequest.NurseRequest.CreateDate)</td>
                    @* <td>@ArticleDate</td>
                    <td>@date</td> *@
                    <td>@Html.DisplayFor(modelItem => nurserequest.Qn)</td>
                    <td>
                    @* <a href="http://172.16.200.202:7800/NurseRequest/GetPatient2?paraHN=@Html.DisplayFor(modelItem => nurserequest.QN)" target="_blank">รายละเอียด</a>  *@
                    </td>
                    <td>@Html.DisplayFor(modelItem => nurserequest.NurseRequest.StartPoint)</td>
                    <td>@Html.DisplayFor(modelItem => nurserequest.NurseRequest.EndPoint1)</td>
                    <td>@Html.DisplayFor(modelItem => nurserequest.NurseRequest.PorterFname)</td>
                    <td>@Html.DisplayFor(modelItem => nurserequest.NurseRequest.MaterialType)</td>
                    <td>@Html.DisplayFor(modelItem => nurserequest.NurseRequest.UrgentType)</td>
                    <td>@Html.DisplayFor(modelItem => nurserequest.NurseRequest.JobStatusName)</td>
                    <td>@Html.DisplayFor(modelItem => nurserequest.NurseRequest.Remark)</td>

                    <td style="white-space:nowrap">
                        <a class="btn btn-warning btn-sm" asp-controllers="NurseRequest" asp-action="Edit" asp-route-id="@nurserequest.NurseRequest.JobId">แก้ไขข้อมูล</a>
                        <input type="submit" class="btn btn-danger btn-sm" asp-controllers="NurseRequest" asp-action="Cancel" asp-route-id="@nurserequest.NurseRequest.JobId" value="ยกเลิก"  onclick="return confirm('คุณต้องการยกเลิกรายการนี้ใช่หรือไม่?')"/>
                    </td>
                </tr>
                }
        
    </tbody>
</table>
</form>